<footer>

    <p class="infoP">Klauprechtstraße 25
        76137 Karlsruhe, Germany<br>
        +49 721 358060<br>
        info@partyservice-brath.de</p>
    <img [src]=info alt="info" class="info">
    <img class="logo" [src]=logo alt="logo">
    <p class="p1">Besuchen Sie uns auf:</p>
    <img [src]=social alt="social" class="social">
    <div class="bottomContainer"></div>
    <p class="pMuted p2">© 2020 by Metzgerei Heiko Brath GmbH, Deutschland</p>
    <p class="pMuted p3">Code and design by StudioPresent</p>
    <img class="logoPhone" [src]=logoPhone alt="logo">
</footer>