<img [src]=spices alt="spices">
<div class="container"></div>
<h2>Custome spices for your meat</h2>
<p class="podnaslov">Turnbeutel nostrud exercitation ullamco
    Sprechen Sie deutsch</p>
<p class="info">Odio principes iracundia Müller Rice pri. Ut vel solum mandamus, Kartoffelkopf natum adversarium ei ius,
    diam Schmetterling honestatis eum.
    Wiener Schnitzel amet, consectetur Handtasche elit, sed do eiusmod tempor Stuttgart ut labore et dolore magna 99
    Luftballons Ut enim ad minim veniam, Turnbeutel nostrud exercitation ullamco laboris nisi Sprechen Sie deutsch
    aliquip ex ea commodo consequat.
</p>