<div class="timeOpen">

    <p class="timeInfo"><span>Opentime:</span> Di. - Fr.: 07:00-13:00 und 15:00-18:30. Sa.: 07:30 - 12:30</p>

</div>
<div class="phoneTimeOpen">

</div>
<div class="phoneTimeInfo">
    <p><span class="christmas">Christmas opentime:</span><br>
        Di. - Fr.: 07:00-13:00 und 15:00-18:30. Sa.: 07:30 - 12:30</p>
</div>
<app-heiko-brath></app-heiko-brath>
<app-dry-aged></app-dry-aged>
<app-grillkurs></app-grillkurs>
<app-handwerk></app-handwerk>
<app-spices></app-spices>
<app-fleischversand></app-fleischversand>
<app-awards></app-awards>
<app-footer></app-footer>