<img [src]=image1 alt="image" class="image1">
<img [src]=image2 alt="image" class="image2">
<div class="brath-container">
</div>
<div class="brath-content">Deutsches Ipsum Dolor deserunt dissentias Grimms Märchen et. Tollit argumentum ius an.
    Pfannkuchen lobortis elaboraret per ne, nam Aperol Spritz probatus pertinax.</div>
<div class="brath-bold">
    <h1>Heiko Brath
        Metzgermeister</h1>
</div>
<div class="brath-container-sm"></div>
<div class="brath-content-sm">

    Deutsches Ipsum Dolor deserunt dissentias Grimms Märchen et. Tollit argumentum ius an. Pfannkuchen lobortis
    elaboraret per ne, nam Aperol Spritz probatus pertinax.
</div>
<div class="brath-bold-sm">Heiko Brath
    Metzgermeister</div>
<img class="lgImage" [src]=lgImage alt="lg">
<img class="smImage sm1" [src]=smImage alt="sm">
<img class="smImage sm2" [src]=smImage alt="sm">
<img class="smImage sm3" [src]=smImage alt="sm">