<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projekat</title>

</head>

<body>

  <app-header></app-header>
  <app-time-open></app-time-open>
  <app-heiko-brath></app-heiko-brath>
  <app-dry-aged></app-dry-aged>
  <app-grillkurs></app-grillkurs>
  <app-handwerk></app-handwerk>
  <app-spices></app-spices>
  <app-fleischversand></app-fleischversand>
  <app-awards></app-awards>
  <app-footer></app-footer>
</body>

</html>